* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
   }
   
   body {
     font-family: 'Montserrat', sans-serif;
   }
   
   .container {
     max-width: 1110px;
     margin: auto;
   }
   
   li {
     list-style-type: none;
   }
   
   a,span {
     display: inline-block;
     text-decoration: none;
   }
