.hero {
     position: relative;
     background-color: #f9f6f1;
     min-height: 680px;
   }
   
   .hero__row {
     padding-top: 215px;
     display: flex;
     min-height: 680px;
   }
   
   .hero__suptitle {
     font-style: normal;
     font-weight: normal;
     font-size: 30px;
     line-height: 1;
     letter-spacing: 0.02em;
   }
   
   .hero__title {
     margin: 35px 0 55px;
     font-style: normal;
     font-weight: bold;
     font-size: 55px;
     line-height: 1;
     letter-spacing: 0.04em;
   }
   
   .hero__btn {
     padding: 18px 30px;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 1;
     letter-spacing: 0.03em;
     color: #fff;
     background-color: #d7b399;
     text-decoration: none;
   }
   
   .hero__item {
     position: relative;
   }
   
   .hero__oldPrice,
   .hero__newPrice {
     text-align: right;
   }
   
   .hero__oldPrice {
     font-style: normal;
     font-weight: bold;
     font-size: 24px;
     line-height: 1;
     text-align: right;
     letter-spacing: 0.05em;
     text-decoration-line: line-through;
     text-transform: uppercase;
   }
   
   .hero__newPrice {
     margin-top: 15px;
     font-style: normal;
     font-weight: bold;
     font-size: 42px;
     line-height: 1;
     text-align: right;
     letter-spacing: 0.02em;
     text-transform: uppercase;
     color: #d84033;
   }
   
   .hero__product {
     position: absolute;
     top: -34px;
   }
   
   .col-6 {
     width: 50%;
   }
   
   .slick-initialized .slick-slide {
     display: flex;
   }
   
   .slick-slide {
     border: none !important;
     outline: none !important;
   }
   
   .slick-arrow {
     display: none !important;
   }
   .hero .slick-dots {
     position: absolute;
     bottom: 70px;
     left: 50%;
     transform: translateX(-50%);
     display: flex;
     list-style: none;
   }
   
   .hero .slick-dots button {
     width: 40px;
     height: 7px;
     font-size: 0;
     background-color: #cecece;
     border: none;
     outline: none;
        margin-right: 15px;
        cursor: pointer;
   }
   
   .hero .slick-dots .slick-active button {
     background-color: #d7b399;
   }
